.loader {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed; 
  z-index: 3000;
  background-color: $black-1;
}  

.laptop {

  &__svg {
    display: block;
    margin: auto;
    height: 60rem;
    width: 60rem;
  }
}