.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem 0;
  padding: 2.4rem;
  border-radius: 5px;
  background-color: $white-2;

  @media only screen and (max-width: $bp-laptop-l){
    grid-template-columns: repeat(3, 20vw);
  }

  @media only screen and (max-width: $bp-laptop){
    grid-template-columns: repeat(3, 24vw);
  }

  &:hover {
    transition: box-shadow 0.5s ease-out;
    box-shadow: $shadow-middle;
  }

  &__heading {
    grid-column: 1 / -1;
    justify-self: center;
    @include home-sub-header-formatting;
    padding: 0 3.6rem 5px 3.6rem;
    border-bottom: 1px solid $navy-2;
  }

  &__sub-heading {
    grid-column: 1 / -1;
    font-weight: 200;
    font-size: $sub-header-font-size;
  }

  &__video {
    grid-column: 1 / -1;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

    &-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }

  &__button,
  &__link,
  &__popup {
    grid-row: 4 / 5;
    margin: 1rem;

    @media only screen and (max-width: $bp-tablet) {
      margin: 0;
    }
  }

  &__stack {
    grid-row: 5 / 6;
    grid-column: 1 / -1;
    padding: 1.6rem;
    background-color: $black-2;
    color: $grey-2;
    @include hide-content;
  }
}